<a href="https://colab.research.google.com/github/aparna-2001/computational_math_toolkit/blob/main/parsing_metadata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
with open("/content/Experiment Gene Expression.txt",'r') as file:
     lines = file.readlines()

lines[:10]

['# Experiment: Gene Expression Demo\n',
 '# Organism: Human\n',
 '# Platform: Microarray\n',
 '# Date: 2024-01-10\n',
 '\n',
 'SampleID    BrainRegion   Age   Sex\n',
 'S1          Cortex        35    F\n',
 'S2          Cortex        42    M\n',
 'S3          Hippocampus   29    F\n',
 'S4          Cerebellum    50    M\n']

In [ ]:
#studying metadata starting with #

study_metadata = [line.strip() for line in lines if line.startswith('#')]
study_metadata

['# Experiment: Gene Expression Demo',
 '# Organism: Human',
 '# Platform: Microarray',
 '# Date: 2024-01-10',
 '# Expression values (log2)']

In [ ]:
#extracting the data

for i, line in enumerate(lines):
  if line.startswith("sampleID") or line.startswith('Gene'):
    print(i, line)

12 Gene        S1     S2     S3     S4

In [ ]:
#extracting dample metadata

sample_metadata = pd.read_csv("/content/Experiment Gene Expression.txt",
                              sep ='\t',
                              skiprows = range(0,5),
                              nrows = 4)

sample_metadata

  SampleID    BrainRegion   Age   Sex
0   S1          Cortex        35    F
1   S2          Cortex        42    M
2   S3          Hippocampus   29    F
3   S4          Cerebellum    50    M

In [ ]:
expression_data = pd.read_csv(
    "/content/Experiment Gene Expression.txt",
    sep = '\t',
    skiprows = range(0,11),
)

expression_data

             # Expression values (log2)
0   Gene        S1     S2     S3     S4
1  GENE_A      8.2    8.5    7.9    6.8
2  GENE_B      4.1    4.3    5.8    4.9
3  GENE_C      9.0    9.2    8.7    8.1
4  GENE_D      6.5    6.9    7.1    6.0

In [ ]:
data = [line.strip() for line in lines if not line.startswith('#')]
data = '\n'.join(data)

print(data)

SampleID    BrainRegion   Age   Sex
S1          Cortex        35    F
S2          Cortex        42    M
S3          Hippocampus   29    F
S4          Cerebellum    50    M

Gene        S1     S2     S3     S4
GENE_A      8.2    8.5    7.9    6.8
GENE_B      4.1    4.3    5.8    4.9
GENE_C      9.0    9.2    8.7    8.1
GENE_D      6.5    6.9    7.1    6.0